.wrapper {
  position: absolute;
  top: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;

  & > .item {
    border: 1px solid darkgrey;
    border-top: none;
    padding: 5px 10px;
    cursor: pointer;
  }
}
